/* 设置vw适配rem 375px适配100vw*/
html{
  font-size: 0.266667vw;
}
body{
  font-size: 14px;
}
/* 
  颜色等变量的定义
*/
:root{
  /* z-index的定义 */
  --bs-index: 1;
  --sort-index: 2;
  --menu-index: 3;
  /* 在menu中的bottom购物栏运用 */
  --goodsCount-index: 5;

  --main-color: #ff8800; 
  /* tabbarItem中运用 */
  --tabbarName-fontsize: 12px;
  /* tabbarContain中运用 */
  --tabbarIcon-fontsize: 22px;
  --tabbarContain-shadow: #d1d1d1;

  /* HeaderTop组件的背景渐变 */
  --headerTop-bgStart: #ffe45e;
  --headerTop-bgEnd: #ffd071;
  --headerTop-fontsize: 16px;
  --headerTop-color: #000000;

  /* ShopList字体颜色 */
  --ShopList-tagcolor: #ff4b10;

  /* home子组件的通用颜色 */
  --comp-bg: #ffffff;
  --comp-color: #666666;
  --comp-borderBottom: #d8d8d8 1px solid;
}

/* 单行省略 */
.ellipsis{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* 多行省略 */
.lineellipsis{
  overflow: hidden;
  text-overflow: ellipsis;
  text-overflow: -o-ellipsis-lastline; 
  display: -webkit-box;
  /* 省略行数 */
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}