/* 设置vw适配rem 375px适配100vw*/
html{
  font-size: 0.266667vw;
}

/* 
  颜色等变量的定义
*/
:root{
  --main-color: #41b883; 
  /* tabbarItem中运用 */
  --tabbarName-fontsize: 12px;
  /* tabbarContain中运用 */
  --tabbarIcon-fontsize: 22px;
  --tabbarContain-shadow: #d1d1d1;
}

/* 单行省略 */
.ellipsis{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* 多行省略 */
.lineellipsis{
  overflow: hidden;
  text-overflow: ellipsis;
  text-overflow: -o-ellipsis-lastline; 
  display: -webkit-box;
  /* 省略行数 */
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}